{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block head %}
    <title>{% block title %}Création d'un article{%endblock%}</title>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title, {'label': 'Titre :'})}}
    {{ form_row(form.content, {'label': 'Contenue :'})}}
    {{ form_row(form.image, {'label': 'Image :' } )}}
    {{ form_row(form.save, {'label': 'Ajouter l\'article' })}}
    {{ form_end(form) }}
{% endblock %}